<%- include('../partials/header') %>
<div class="row">
  <div class="col-xs-12 col-md-3">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="/products">모든 상품 보기</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-1"></div>
  <div class="col-xs-12 col-md-8">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"></div>
  </div>
</div>

<%- include('../partials/footer') %>
